*{
    margin:0;
    padding:0;
}
body{
    background:white;
}
.flex-disp{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
section{
    width
}