*{
    margin:0;
    padding:0;
}
:root{
    --light-bg-grey:rgb(190, 190, 190);
    --cyan-blue:rgb(46, 95, 79);
}
body{
    background:white;
    font-family:'Quicksand',sans-serif;
}
.flex-disp{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
section{
    width:60%;
    height:35%;
    background:var(--light-bg-grey);
    box-sizing: border-box;
}
.cart-section{
    visibility: hidden;
}
.pdt-section{
    flex-direction:row;
}
.pdt-container{
    width:15%;
    height:50%;
    text-align: center;
    padding:10px;
    justify-content:space-between;
    background:
}
img{
    width:100%;
}
h2{
    font-size:0.9em;
}