*{
    padding:0;
    margin:0;
}
:root{
    --light-bg-grey:rgb(248, 248, 248);
    --mid-bg-grey:rgb(241, 241, 241);
    --cyan-blue:rgb(0, 145, 114);
}
.main-container{
    background:white;
    font-family:'Quicksand',sans-serif;
    text-align: center;

}
.flex-disp{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.heading{
    text-align:center;
    margin:30px 10px;
}
.section{
    width:35%;
    margin:15px 0;  
}
.small-section{
    flex-direction: row;
    justify-content: space-between;
    width:38%;
}
.small-imgs{
    width:24%;
    border-radius:5%;
    border:none;
    transition:border 0.1s linear;
    box-sizing:border-box;
}
.small-imgs:hover{
    border:2px solid var(--cyan-blue);
    opacity:0.9;
}
.display-img{
    border:2px solid var(--cyan-blue);
    opacity:0.9;
}
.small-imgs img{
    background:var(--light-bg-grey);
    width:100%;
    border-radius:5%;
    padding:10px 0;
    box-sizing:border
}
.large-section img{
    background:var(--light-bg-grey);
    width:70%;
    border-radius:5%;
    padding:0 15%;
}
@media screen and (max-width:952px){
    .section{
        width:80%;
    }
   
}