*{
    padding:0;
    margin:0;
}
:root{
    --light-bg-grey:rgb(248, 248, 248);
    --mid-bg-grey:rgb(241, 241, 241);
    --cyan-blue:rgb(0, 145, 114);
}
.main-container{
    background:white;
    font-family:'Quicksand',sans-serif;
}
.flex-disp{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
.section{
    width:
}