*{
    padding:0;
    margin:0;
}
:root{
    --light-bg-grey:rgb(248, 248, 248);
    --mid-bg-grey:rgb(241, 241, 241);
    --cyan-blue:rgb(0, 145, 114);
}
.main-container{
    background:var(--light-bg-grey);
    font-family:'Quicksand',sans-serif;
    text-align: center;
    width:100vw;
    height:100vh;

}
.flex-disp{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.heading{
    text-align:center;
    margin:20px 0 20px;
    color:var(--cyan-blue);
}
.section{
    width:38%;
    margin:15px 10px;  
}
.small-section{
    flex-direction: row;
    justify-content: space-between;
    width:35%;
}
.small-imgs{
    width:23%;
    border-radius:5%;
    border:none;
    transition:border 0.1s linear;
    box-sizing:border-box;
}
.small-imgs:hover{
    border:4px solid var(--cyan-blue);
    opacity:0.9;
}
.display-img{
    border:2.5px solid var(--cyan-blue);
    opacity:0.9;
}
.small-imgs img{
    background:white;
    width:100%;
    border-radius:5%;
    padding:10px 0;
    box-sizing:content-box;
}
.large-section img{
    background:white;
    width:70%;
    border-radius:5%;
    padding:0 15%;
}
@media screen and (max-width:752px){
    .section{
        width:88%;
    }
   
}